<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/customBS.css') }}"
    />

    <title>SMP - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body style="background-color:#001f3e">
    <nav
      class="navbar sticky-top navbar-light"
      style="background-color:#24303c"
      id="mainNav"
    >
      <a id="navTitle" class="navbar-brand" style="color: white" href="/"
        >Social Media Personalities</a
      >
      <a class="navbar-brand" href="/processLogin"
        ><button
          class="pull-right btn my-2 my-sm-0"
          style="background-color: #007bff; color: white"
          type="submit"
          id="loginBtn"
        >
          Login with Twitter
        </button></a
      >
    </nav>
    <div id="content" style="margin: 3rem 0;">
      {% block content %}{% endblock %}
    </div>
    <div id="otherContent">{% block otherContent %}{% endblock %}</div>
    <div
      id="footer"
      class="bg-light fixed-bottom noselect cursor-default"
      style="padding: .25rem"
    >
      {% block footer %} &copy; Copyright 2018 by
      <a href="/#about">The Best CS411 Group</a>. {% endblock %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script>
      $(window).scroll(function() {
        if ($(window).scrollTop() >= 20) {
          $("nav").css("background-color", "transparent");
          $("#loginBtn").css("background-color", "#007bff69");

          $("#navTitle").css("color", "transparent");
        } else {
          $("nav").css("background-color", "#24303c");
          $("#loginBtn").css("background-color", "#007bff");

          $("#navTitle").css("color", "white");
        }
      });
    </script>
    {% block customJs %} {% endblock %}
  </body>
</html>
