{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content
%}
<div class="text-center" style="margin: 2rem 0;">
  <h1 class="display-1">Social Media Personalities</h1>
  <p class="lead">
    Compare and contrast your personality across different social media
    platforms with the power of IBM Watson.
  </p>
  <img
    style="max-width: 7.5%;"
    src="{{ url_for('static',filename='images/watsonLogo.png') }}"
  />

  <a href="/getTweet">
    <button type="button" class="btn btn-success btn-lg btn-cst-start">
      Start
    </button>
  </a>
</div>
{% endblock %}
